<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoa APP</title>
</head>
<body>
    <h1>Cadastro de Pessoas</h1>
    <form method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome">
        <label for="email">email</label>
        <input type="text" name="email">
        <label for="telefone">telefone</label>
        <input type="text" name="telefone">

        <input type="submit" value="enviar">

    </form>
</body>
</html>